body {
	background: url('/images/bg_page.jpg') #e2e2e2 repeat-x center;
	background-position: 0px 0px;
}

div.container {
	width: 750px;
}

div.logo {
	width: 296px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	width: 750px;
	text-align: center;
}

nav ul {
	margin-top: 6px;
	list-style: none;
}

nav ul li {
	text-align: center;
	display: inline;
	margin: 0 32px;
	text-transform: uppercase;
	font-family: "Myriad Pro";
	letter-spacing: 0.15em;
	padding: 6px;
	
}

nav ul li.current {
	background: #121212;
	border: 1px solid #000;
}

nav ul li a {
	color: #6c6c6c;
	margin-top: 5px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

nav ul li a:hover {
	color: #cacaca;
	text-decoration: underline;
}

nav ul li.current a {
	color: #cacaca;
}
