<div class="logo">
    <%= image_tag "logo.png", :alt => "TTD nugitz" %>
  </div>
  <nav>
    <ul>
      <li class="current"><%= link_to 'News', root_path %></li>
      <li><a href="#" id="GRFs">GRFs</a></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
