<!DOCTYPE html>
<html>
<head>
  <title>TTD nugitz</title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
<div class="container">
  <div class="logo">
    <img src="/images/logo.png">
  </div>
  <nav>
    <ul>
      <li class="current"><a href="/">News</a></li>
      <li><a href="#">GRFs</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
<%= yield %>
</div>

</body>
</html>
